@import '~bootstrap/scss/bootstrap';

button {
    white-space: nowrap;
    text-align: center;
    border: none;
    padding: 10px 20px;
}

.gold-btn {
    background-color: #f9d03f;
    color: #6b6868;
}

.yellow-btn {
    background-color: #fed23f;
    color: #6b6868;
}

.black-btn {
    background-color: #31312f;
    color: #fff;
}