// ----- BUTTONS -----

button {
    white-space: nowrap;
    text-align: center;
    border: none;
    padding: 10px 20px;
}

.gold-btn,
.black-btn:hover {
    background-color: #f9d03f;
    color: #6b6868;
}

.black-btn,
.gold-btn:hover {
    background-color: #31312f;
    color: #fff;
}

.info-container {
    padding: 80px 260px 20px 260px;

    h5 {
        padding-bottom: 20px;
    }

    p {
        padding: 20px 40px;
    }
}


// ----- /BUTTONS -----

// // ----- TEXT-UNDERLINE -----
// .custom-underline {
//     padding-bottom: 20px;
//     position: relative;
// }

// .custom-underline::before {
//     content: '';
//     position: absolute;
//     bottom: 0;
//     left: 40%;
//     width: 140px;
//     height: 2px;
//     background-color: #f9d03f;
// }

// // ----- /TEXT-UNDERLINE -----