@import '@/assets/styles/pallette.scss';

// ----- BUTTONS -----

button {
    white-space: nowrap;
    text-align: center;
    border: none;
    padding: 10px 20px;
}

.gold-btn,
.black-btn:hover {
    background-color: $bright-sun-color;
    color: $dove-grey-color;
}

.black-btn,
.gold-btn:hover {
    background-color: $tuatara-color;
    color: $white-color;
}



.info-container {
    padding: 80px 260px 20px 260px;

    h5 {
        padding-bottom: 20px;
    }

    p {
        padding: 20px 40px;
    }
}


// ----- /BUTTONS -----

// ----- CURVED SPACE DIV -----
.top-curved-space,
.bottom-curved-space {
    position: absolute;
    // z-index: 100;
    height: 100px;
    width: 100%;
}

.top-curved-space {
    top: 0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.bottom-curved-space {
    bottom: 0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

// ----- /CURVED SPACE DIV -----